
.root {
    -fx-font-family: 'System';
    -fx-font-size: 22;
    -fx-dark-red: #8E1016;
    -fx-darker-red: #4D070A;
    -fx-black: #211F1F;
    -fx-dark-grey: #666060;
    -fx-light-grey: #D9D9D9;

}
.tooltip {
    -fx-display: inline-block;
    -fx-position: relative;
    -fx-border-style: dotted;
    -fx-border-color: #8E1016;
    -fx-border-width: 0 0 1px 0;
    -fx-text-alignment: left;
    -fx-background-color: -fx-light-grey;
    -fx-text-fill: -fx-dark-grey;
    -fx-font-size: 16px;
}

.miniIcons {
    -fx-background-radius: 25px;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-black;
}
.button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0.5, 0, 0);
}

#header{
  -fx-fill: -fx-dark-red;
}

#instruction{
  -fx-text-fill: -fx-dark-grey;
    -fx-background-color: transparent;
  -fx-font-size: 14;
}

#instruction:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0.5, 0, 0);
}
.tool-name{
  -fx-text-fill: -fx-light-grey;
  -fx-text-transform: uppercase;
  -fx-font-weight: bolder;
  -fx-font-size: 30;
}

.login-toolname{
    -fx-text-fill: -fx-light-grey;
    -fx-text-transform: uppercase;
    -fx-font-weight: bolder;
    -fx-font-size: 20;
    -fx-alignment: center;
}




.file-output {
    -fx-font-style: italic;
}
.table-name{
  -fx-font-weight: bold;


}

.tableNameForLogin{
    -fx-font-weight: bolder;
    -fx-text-fill:  -fx-dark-grey;
    -fx-font-family: "System Bold";
    -fx-font-size:18px;

}

.file-upload-button{
    -fx-background-radius: 25px;
    -fx-background-color: -fx-light-grey;
    -fx-text-fill: -fx-black;
}

.abbrechen-button{

    fx-font-weight: bold;
    -fx-font-size:18px;
    -fx-text-fill: -fx-black;
    -fx-background-color: -fx-light-grey;
    -fx-background-radius: 25px;
}

#hochladen-button {
  -fx-font-weight: bold;
  -fx-text-fill: -fx-light-grey;
  -fx-background-color: -fx-dark-red;
  -fx-background-radius: 25px;
}

#hochladen-button:pressed {
    -fx-background-color: -fx-darker-red;
}


#anmelden-button {
    -fx-font-weight: bold;
    -fx-text-fill: -fx-light-grey;
    -fx-background-color: -fx-dark-red;
    -fx-background-radius: 25px;
    -fx-font-size:18px;
}

#anmelden-button:pressed {
    -fx-background-color: -fx-darker-red;
}

